{% extends 'main.html' %}

{% block content %}
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our
                        <span>Users</span></h1>
                   
                    <div class="pricing-list">
                       
                        <ul>
                            {% for profile in profiles %}
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>username: {{profile.username}}</h2> 
                                        
                                        <div class="border-bottom" style="    width: 90%;"></div>
                                        <a href="{% url 'admin-user-update' profile.id %}" style="float: right;
                                        background-color: #FF5333;
                                        padding-left: 7px;
                                        padding-right: 7px;
                                        color: white;
                                        font-size: 18px;
                                        border-radius: 25px;"> update</a>
                                        <a href="{% url 'admin-user-delete' profile.id %}" style="float: right;
                                        background-color: #FF5333;
                                        padding-left: 7px;
                                        padding-right: 7px;
                                        color: white;
                                        font-size: 18px;
                                        border-radius: 25px;"> delete</a>
                                        <span style="    font-size: 18px;
                                        margin-right: 7px;"> first name:{{profile.firstname}} 
                                         </span>
                                         <span style="    font-size: 18px;
                                         margin-right: 7px;">last name: {{profile.lastname}} {{order.created}} 
                                          </span>
                                          <span style="    font-size: 18px;
                                          margin-right: 7px;">address:{{profile.address}} 
                                           </span>
                                        
                                    </div>
                                   
                                </div>
                            </li>
                            {% endfor %}
                            
                            
                        </ul>
                        <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms"
                            href="{% url 'admin-user-create' %}" role="button">Create New Item</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->
{% endblock content %}