{% load static %}
<!--
	header-img start 
	============================== -->
	<section id="hero-area">
		<img class="img-responsive" src="{% static 'images/header.jpg' %}" alt="">
	</section>

	
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-md-12">
					
					<div class="block">
						
						<nav class="navbar navbar-default">
							
							<div class="container-fluid">
								
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
										data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">
										<img src="{% static 'images/logo.png' %}" alt="Logo">
									</a>

								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" >
									
									<ul class="nav navbar-nav navbar-right" id="top-nav">
										
										<li><a href="{% url 'home' %}">Home</a></li>
										<li><a href="{% url 'menu' %}">Menu</a></li>
										<li><a href="">Contact Us</a></li>
										{% if request.user.is_authenticated %}
										
										<li><a href=""> Your Orders</a></li>
										<li><a href="{% url 'update_user' %}"> Profile</a></li>
										{% if request.user.is_staff == True %}
										<li><a href="{% url 'admin-page' %}">admin panel</a></li>{% endif %}

										<li><a href="{% url 'logout' %}">Logout</a></li>

										{% else %}
										<li><a href="{% url 'login' %}">Login</a></li>

										{% endif %}
									</ul>
								</div><!-- /.navbar-collapse -->
								{% if request.user.is_staff == True %}
								<div class="collapse navbar-collapse" >
									
									<ul class="nav navbar-nav navbar-right" id="top-nav">
										
										<li><a href="{% url 'admin-page' %}">Foods</a></li>
										<li><a href="{% url 'admin-ingredient-page' %}">Ingredients</a></li>
										<li><a href="{% url 'admin-order-page' %}">Orders</a></li>
										
										
										<li><a href="{% url 'admin-orderitem-page' %}"> order items</a></li>
										<li><a href="{% url 'admin-user-page' %}"> users</a></li>
										
										<li><a href="{% url 'admin-review-page' %}">reviews</a></li>

										
									</ul>
								</div><!-- /.navbar-collapse -->
								{% endif %}
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .container close -->
	</nav><!-- header close -->