{% extends 'main.html' %}
{% block content %}

 <!-- Main Section -->
 <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{messageRequest.subject}}</h4>
          <a href="{% url 'user-profile' profile.id %}" class="message__author">{{massageRequest.name}}</a>
          <p class="message__date">{{messageRequest.created}}</p>
          <div class="message__body">
           {{messageRequest.body|linebreaksbr}}
          </div>
      </div>
    </div>
  </main>

{% endblock content%}