{% extends 'main.html' %}

{% block content %}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="{% url 'products' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'shop' %}">Shop</a>
                    <span>User Info check</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
       
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkout-content">
                        <a href="{% url 'login' %}" class="content-btn">Click Here To Login</a>
                    </div>
                   
                    <div class="row">
                        {% if request.user.is_staff %}
                        {% if form_name == 'product' %}
                       
                        <form action="{% url 'create-product' %}" class="checkout-form" method="POST" enctype="multipart/form-data">
                            {% elif form_name == 'cat' %}
                            <form action="{% url 'create-cat' %}" class="checkout-form" method="POST" enctype="multipart/form-data">
                            {% elif form_name == 'size' %}
                            <form action="{% url 'create-size' %}" class="checkout-form" method="POST">
                            {% elif form_name == 'tag' %}
                            <form action="{% url 'create-tag' %}" class="checkout-form" method="POST">
                            {% elif form_name == 'color' %}
                            <form action="{% url 'create-color' %}" class="checkout-form" method="POST" enctype="multipart/form-data">
                            {% elif form_name == 'review' %}
                            <form action="{% url 'create-review' %}" class="checkout-form" method="POST">
                                
                                {% elif form_name == 'edit_product' %}
                                <form action="{% url 'edit-product' product.id%}" class="checkout-form" method="POST" enctype="multipart/form-data">
                                {% elif form_name == 'edit_cat' %}
                                <form action="{% url 'edit-cat' cat.id %}" class="checkout-form" method="POST" enctype="multipart/form-data">
                                {% elif form_name == 'edit_size' %}
                                <form action="{% url 'edit-size' size.id %}" class="checkout-form" method="POST">
                                {% elif form_name == 'edit_tag' %}
                                <form action="{% url 'edit-tag' tag.id %}" class="checkout-form" method="POST">
                                {% elif form_name == 'edit_color' %}
                                <form action="{% url 'edit-color' color.id %}" class="checkout-form" method="POST" enctype="multipart/form-data">

                                {% else %}
                                <form action="{% url 'edit-review' review.id %}" class="checkout-form" method="POST">

                        {% endif %}
                            {% else %}
         <form action="{% url 'update-profile' %}" class="checkout-form" method="POST">
                                {% endif %}
                            {% csrf_token %}

                              {% for field in form %}

                              <div class="col-lg-12" style="margin-left: 250px;margin-top: 10px;">
                                <label style="font-size: 17px;">{{field.name}}<span>*</span></label>
                                {{field}}

                            </div>
                               {% endfor %}
                    
                        <div class="col-lg-12" style="margin-left: 250px;">
                           
                            <button type="submit" class="site-btn place-btn">Confirm Your Information </button>
                        </div>
                    </form>
                        
                    </div>
                </div>


            </div>
      
    </div>
</section>
                {% endblock content %}