{% extends 'main.html' %}
{% block content %}

<div class="col-lg-9 order-1 order-lg-2">
    <div class="product-show-option">
        
        <div class="row">
           
            <div class="col-lg-12 col-md-12 text-center">
                <h5> filtered: {{search_query}}</h5>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-sm-6">
               
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="{{product.imageURL}}" alt="">
                        <div class="sale pp-sale">Sale</div>
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="{% url 'orders' %}?q={{product.id}}"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="{% url 'product' product.id %}">+ Quick View</a></li>
                            <!--<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>-->
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">{{product.tag}}</div>
                        <a href="{% url 'product' product.id %}">
                            <h5>{{product.name}}</h5>
                        </a>
                        <div class="product-price">
                            {% if product.discount != 0 %}
                            {{product.getPriceWithDiscount}}$
                            <span>{{product.price}}$</span>
                            {% else %}
                            
                            {{product.price}}$
                            {% endif %}

                        </div>
                    </div>
                </div>
              
            </div>
            {% endfor %}

    {% include 'pagination.html' with queryset=products custom_range=custom_range %}
        </div>
    </div>
   
</div>


{% endblock content %}