{% extends 'main.html' %}
{% block content %}
 
 <!-- Breadcrumb Section Begin -->
 <div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="{% url 'products'%}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'shop' %}">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>{{q_product}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!----->
                            {% for order in orders %}
                            <tr>
                                <td class="cart-pic first-row"><img src="{{order.product.imageURL}}" alt=""></td>
                                <td class="cart-title first-row">
                                    <h5>{{order.product.name}}</h5>
                                </td>
                                <td class="p-price first-row">${{order.product.price}}</td>
                                <td class="qua-col first-row">
                                    <div class="quantity">
                                        
                                        <div class="pro-qty">
                                            <input type="text"name="qty" value="{{order.qty}}">
                                        </div>
                                    </div>
                                </td>
                                <td class="total-price first-row">{{order.getPrice}}</td>
                                <td class="close-td first-row"><i class="ti-close"></i></td>
                            </tr>
                            {% endfor %}

                            <!----->
                           
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <a href="{% url 'shop' %}" class="primary-btn continue-shop">Continue shopping</a>
                            <a href="#" class="primary-btn up-cart">Update cart</a>
                        </div>
                        
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                
                                <li class="cart-total">Total <span>${{total_price}}</span></li>
                            </ul>
                            <a href="{% url 'checkout' %}" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
{% endblock content %}