{% extends 'main.html' %}

{% block content %}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="{% url 'products' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'shop' %}">Shop</a>
                    <span>User Info check</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
       
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="row">
                       
                        {% if form_name == 'edit-orderitem' %}
                        <form action="{% url 'edit-orderitem' orderitem.id %}" class="checkout-form" method="POST">
                       
                        
                            {% elif form_name == 'orderitem' %}
                            <form action="{% url 'create-orderitem' %}" class="checkout-form" method="POST">
                            {% elif form_name == 'edit-order' %}
                            <form action="{% url 'edit-order' order.id %}" class="checkout-form" method="POST">
                            {% else %}
                            <form action="{% url 'create-order' %}" class="checkout-form" method="POST">
                            

                        {% endif %}
                           
                            {% csrf_token %}

                              {% for field in form %}

                              <div class="col-lg-12" style="margin-left: 250px;margin-top: 10px;">
                                <label style="font-size: 17px;">{{field.name}}<span>*</span></label>
                                {{field}}

                            </div>
                               {% endfor %}
                    
                        <div class="col-lg-12" style="margin-left: 250px;">
                           
                            <button type="submit" class="site-btn place-btn">Confirm Your Information </button>
                        </div>
                    </form>
                        
                 
                    </div>
                </div>


            </div>
      
    </div>
</section>
                {% endblock content %}